/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'worksans';
}

html {
    scroll-behavior: smooth;
}

/* Navigation Section */

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 25px;
}

.greet {
    font-size: 24px;
}

.subContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    text-decoration: none;
    color: rgb(0, 80, 145);
    margin-right: 15px;
    font-size: 16px;
}

.feedback:hover {
    color: rgb(0, 123, 224);
}

.logoutBtn {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 80, 145);
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
}

.logoutBtn:hover {
    background-color: rgb(0, 108, 196);
}

/* Main Content */

.main-content {
    min-height: 100vh;
    padding-top: 100px;
}

.head-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.searchField {
    outline: none;
    width: 15%;
    border: none;
    border-bottom: 1px solid #000d26;
}

.searchField:focus {
    border-bottom: 1px solid #7fa8ff;
}

.createBtn {
    font-size: 20px;
}

.createBtn:hover {
    cursor: pointer;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.productTable {
    border-collapse: collapse;
    width: 90%;
    margin: 20px;
    padding: 8px;
}

.tableHead, tr, td {
    border-top: 1px solid #afc8ff;
    border-bottom: 1px solid #afc8ff;
    text-align: center;
    padding: 10px;
}

.deleteBtn:hover {
    cursor: pointer;
}

.plus {
    color: #52be4f;
}

.minus {
    color: #be4f4f;
}

.fa-btn {
    background: none;
    border: none;
    padding: 0;
}

/* Footer */

.footer {
    background-color:rgb(0, 10, 17);
    color: #fff;
    text-align: center;
    padding: 1rem;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footernav {
    color: #61dafb;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footernav:hover {
    color: #a8ecff;
}

.DevInfo {
    color: white;
    text-decoration: none;
}

.DevInfo:hover {
    color: rgb(220, 220, 220);
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .footer-content nav ul li {
        display: block;
        margin: 10px 0;
    }

    .analytics-cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .features {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .feature {
        flex-basis: 100%;
    }
        
    .table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-x: scroll;
    }

    .tableHead,
    tr,
    td {
        font-size: 14px;
    }
}

@media only screen and (max-width: 790px) {

    /*Navigation section */
    .logo {
        position: absolute;
        left: 5%;
    }

    .navul {
        flex-direction: column;
        /* opacity: 1;
        height: 287px;
        transition: all 0.5s ease-out; */
        /* transition-delay: 0.3s; */
    }

    .header {
        justify-content: center;
        align-items: center;
    }

    .navig {
        height: 287px;
        flex-direction: column;
        transition: all 0.15s ease-out;
    }

    .burger {
        display: block;
    }

    .menu {
        width: 70px;
        height: 30px;
    }

    .h-nav-resp {
        height: 54px;
        /* opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-out; */
    }

    .v-class-resp {
        /* height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out; */
        /* transition-delay: 0.3s; */
        display: none;
    }

    .navs {
        align-items: center;
        justify-content: right;
        margin-right: 30%;
        position: absolute;
    }

    .logout {
        font-size: 14px;
    }

}