{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaMorph AI - Generative AI For Content Creation</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_plain.png' %}">
</head>

<body>

    <header class="header">
        <nav class="navig h-nav-resp">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'images/logo_plain.png' %}" alt="logo" class="logoImg">
                </a>
            </div>
            <ul class="navul v-class-resp">
                <li class="navc"><a href="#">Home</a></li>
                <li class="navc"><a href="#about">About Us</a></li>
                <li class="navc"><a href="#how-it-works">How It Works</a></li>
                <li class="navc"><a href="#features">Features</a></li>
                <li class="navc"><a href="#contact">Contact</a></li>
                <li class="navc"><button class="loginBtn" onclick="loginBtn()">Login</button></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

    <section class="hero" id="home">
        <h1>MediaMorph AI</h1>
        <p>Generative AI for content creation</p>
        <button class="getstartedBtn" onclick="getstarted()">Get Started</button>
    </section>

    <section id="about">
        <h1>About Us</h1>
        <div class="content reveal fade-pop">
            <p class="about-text">Welcome to MediaMorph AI, the cutting-edge platform that transforms your text prompts
                into stunning media content. Whether you're looking to generate high-quality images for your projects or
                simply explore the creative possibilities of AI, MediaMorph AI is your go-to solution.
            </p>
            <p class="about-text">
                Our platform harnesses the power of advanced generative AI technology to deliver fast and impressive
                results. Simply enter your text description, and watch as MediaMorph AI brings your vision to life in
                seconds. Experience the magic of turning words into visuals and unlock a world
                of endless creative possibilities.
            </p>
        </div>
    </section>


    <section class="section" id="how-it-works">
        <h2>How It Works</h2>
        <div class="steps reveal fade-pop">
            <div class="step">
                <i class="fa-solid fa-rectangle-ad text-icon"></i>
                <p>Enter your text input.</p>
            </div>
            <div class="step">
                <i class="fa-solid fa-image img-icon"></i>
                <p>AI generates an image.</p>
            </div>
            <div class="step">
                <i class="fa-solid fa-cloud-arrow-down download-icon"></i>
                <p>Download your image.</p>
            </div>
        </div>
    </section>

    <section class="section" id="features">
        <h2>Features</h2>
        <div class="features reveal fade-pop">
            <div class="feature">
                <h3>High Quality Images</h3>
                <p>Our AI generates images with incredible detail and high-quality visuals.</p>
            </div>
            <div class="feature">
                <h3>Fast Processing</h3>
                <p>Get your images generated in seconds with our optimized AI models.</p>
            </div>
            <div class="feature">
                <h3>Easy to Use</h3>
                <p>Simple and intuitive interface for a seamless user experience.</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2>Contact Us</h2>
        <form class=" reveal fade-pop" action="#" method="post">
            {% csrf_token %}
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            <input type="email" id="email" name="email" placeholder="Enter the E-mail" required>
            <textarea id="message" name="message" placeholder="Enter the message" required rows="5"></textarea>
            <button type="submit" id="submitBtn" class="submitBtn">Submit</button>
        </form>
    </section>

    <footer class="footer">
        <p>MediaMorph AI | Developed by
            <a href="mailto:msharan.hnp@gmail.com" class="DevInfo">Sharan</a>
            • <a href="mailto:rohanms0405@gmail.com" class="DevInfo">Rohan</a>
            • <a href="mailto:24ranjith2003@gmail.com" class="DevInfo">Ranjith</a>
            • <a href="mailto:shivamv1972@gmail.com" class="DevInfo">Vishnu</a>
        </p>
        <div>
            <a href="#" class="footernav">Home</a>
            <a href="#about" class="footernav">About Us</a>
            <a href="#how-it-works" class="footernav">How It Works</a>
            <a href="#features" class="footernav">Features</a>
            <a href="#contact" class="footernav">Contact</a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/b2b6d427ae.js" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
    <script>
        document.getElementById('feedbackForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch(window.location.pathname, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert('Feedback submitted successfully');
                    } else {
                        alert('Error submitting feedback');
                    }
                })
                .catch(error => {
                    alert('Error submitting feedback:', error);
                });
        });
        function getCookie(name) {
            const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return cookieValue ? cookieValue.pop() : '';
        }
    </script>
</body>

</html>