@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'worksans';
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 25px;
}

.greet {
    font-size: 24px;
}

.subContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 100vh;
}

.logoutBtn {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 80, 145);
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
}

.logoutBtn:hover {
    background-color: rgb(0, 108, 196);
}

#generateImageForm {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 50px; */
}

#prompt {
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    width: 15%;
    border-radius: 50px;
    border: none;
    border: 2px solid rgb(100, 100, 100);
    outline: none;
    font-size: 16px;
}

#prompt:focus {
    border: 2px solid rgb(24, 24, 24);
}

#generateBtn {
    margin: 0 5px 0 5px;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 80, 145);
    color: white;
    font-size: 16px;
}

#generateBtn:hover {
    background-color: rgb(0, 105, 190);
    cursor: pointer;
}

#downloadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#download {
    text-decoration: none;
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 80, 145);
    color: white;
    font-size: 18px;
}

#download:hover {
    background-color: rgb(0, 105, 190);
    cursor: pointer;
}

#imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.respImg {
    border-radius: 20px;
}

.loading {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 500px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    width: 256px;
    height: 256px;
    margin: 10px;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.footer {
    background-color:rgb(0, 10, 17);
    color: #fff;
    text-align: center;
    padding: 1rem;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footernav {
    color: #61dafb;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footernav:hover {
    color: #a8ecff;
}

.DevInfo {
    color: white;
    text-decoration: none;
}

.DevInfo:hover {
    color: rgb(220, 220, 220);
}

@media only screen and (max-width: 1170px) {
    #prompt {
        width: 40%;
    }
}

@media only screen and (max-width: 375px) {
    #generateImageForm {
        display: flex;
        flex-direction: column;
    }

    #prompt {
        width: 60%;
        margin-bottom: 20px;
    }

    .DevInfo {
        font-size: 14px;
    }

    .footernav {
        font-size: 14px;
    }
}