#generateImageForm {
    height: 30vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 50px;
}

#prompt {
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    width: 15%;
    border-radius: 15px;
    border: none;
    border: 2px solid rgb(100, 100, 100);
    outline: none;
    font-size: 18px;
}

#prompt:focus {
    border: 2px solid rgb(24, 24, 24);
}

#generateBtn {
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 80, 145);
    color: white;
    font-size: 18px;
}

#generateBtn:hover {
    background-color: rgb(0, 105, 190);
    cursor: pointer;
}

#downloadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#download {
    text-decoration: none;
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 80, 145);
    color: white;
    font-size: 18px;
}

#download:hover {
    background-color: rgb(0, 105, 190);
    cursor: pointer;
}

#imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 500px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    width: 256px;
    height: 256px;
    margin: 10px;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}